
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}

.navb {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 3vmin;
  color: blue;
  
}

.nav-links{
display: flex;
align-items: center;
}

.nav-links li{
 margin: 0 20px;
}

.btn-get-started{
  background-color: white;
  padding: 10px 25px;
  color: green;
  font-size: medium;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: #034402;
   }

a {
  text-decoration:none;
}


.img-container{
  position: relative;
  float: right;
  /* max-height: fit-content; */
  height: 80vh;
  
}
#mask{
  float:right;
  height: 700px;
  margin-top: 20px;
  
}

#bulb-img{
 position: absolute;
 margin-top: 70px; 
 height: 500px;
}

.left_float{
  float: left;
  margin: 150px 50px;
  font-size: 5vmin;
  color: white;
}

.services-area{
  background-color: #D1E6D4;
  background-image: url(../../Images/map.png);
  background-size: cover;
  height: 100vh;
  width:100vw;
}

.recycle-area{
  height: 100vh;
  width: 100vw;
}
.left-float1{
  float:left;
  text-align: center;
  margin-top: 100px;
 
}

.right-float1{
  position: relative;
  float:right;
  height: 50vh;
  }

  .plastic-design{
    position:relative;
    margin-bottom: 90px;
    margin-left: 100px;
  }

  .map2{
    height: 80vh;
  }

footer{
  background-color: rgba(3, 29, 9, 0.8);
}