*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-row: 1/2;
}


.nav-container {
    background: #FCFDFC;
    box-shadow: 0px 1px 8px rgba(10, 122, 34, 0.19);
    grid-column: 3/13;
}

.sidenav {
    list-style: none;
    float: right;
    padding: 0 5px;
    margin-top: 25px;
}

nav li a{
    text-decoration: none;
    color: rgba(3, 29, 9, 0.8);
    font-size: 13px;
}


.sidebar-container {
    position: fixed;
    height: 720px;
    background: #FCFDFC;
    box-shadow: 0px 1px 8px rgba(10, 122, 34, 0.169);
    grid-column: 1/3;
    grid-row: 1/5;
}

.sidebar-container  a {
    text-decoration: none;
}

.nav--toggle {
    display: none;
}


#logo {
    border: none;
    margin-bottom: 90px;   
}

.nav-logo {
    display: inline-flex;
}

.nav-link {
    display: block;
    color: #FFFFFF;
}

.sidebar-container a {
    display: flex;
    padding: 15px;
    font-size: 20px;
    list-style: none;
}
.nav-name {
    margin-left: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(3, 29, 9, 0.8);
}

.sidebar-container a:hover {
    background: rgba(28, 126, 24, 0.47);
}


#logout {
    margin-top: 80px;
}


main {
    grid-column: 3/13;
    grid-row: 2/3;
}

.dashboard {  
    background-color: #fff;
    display: grid;
    grid-column: 3/13;
    grid-row: 2/3;
}

.dashboard-title {
    grid-column: 1/13;
    margin: 30px 0 0 30px;  
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size:30px;
    color: rgba(3, 29, 9, 0.8);
}

.dashboard-title p{
    font-size: 15px;
}

.rectangle {
    grid-column: 7/11;
    width: 300px;
    height: 200px;
    margin-top: 70px;
    background: #FFFFFF;
    border: 1px solid #D1E5D4;
    box-sizing: border-box;
}

.upload-capture {
    grid-column: 6/13;
    /* margin-top: 60px; */
    display: flex;
    padding-top: 20px;
    /* width: 100%; */

}

.upload,
.capture {
    width: 250px;
    height: 50px;
    background: #D1E5D4;
    border: none;
    color: #AFAFAF;
    font-size: 20px;
}

.upload:hover,
.capture:hover {
    
    background: #0A7A22;
}


.capture {
    /* grid-column: 4/8; */
    margin-right: 25px;
}

.upload {
    /* grid-column: 10/13; */
}
.upload-group {
    display: flex;
}

/* .upload a {
    background-color: red;
} */


.request,
.success {
   text-align: center; 
   justify-content: center;
   align-items: center;
   justify-items: center;
   background: #FFFFFF;
   box-shadow: 0px 1px 8px rgba(10, 122, 34, 0.16);
   font-family: Montserrat;
    font-style: normal;
    height: 300px;
    width: 500px;
    padding: 10px;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.request {
    padding-top: 50px;
}



.request.active-request {
    opacity: 1;
    /* top: 20%; */
    /* right: 40px; */
    transform: translate(50%, -100%) scale(1);
    transition: transform 300m, cubic-bezier(0.18, 0.89, 0.43, 1.19)
}
.success.active-success {
    opacity: 1;
    transform: translate(50%, -200%) scale(1);
    transition: transform 300m, cubic-bezier(0.18, 0.89, 0.43, 1.19)
}


.success p {
    margin-top: 15px;
}
#okay-btn {
    margin-top: 15px;
    background: #0A7A22;
    border-radius: 8.73737px;
    cursor: pointer;
}

.request h4, 
.request-details p,
.request-details input{
    margin-bottom: 8px;
}



.request-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.request-details {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

button {
    background: #FFFFFF;
    border: 1px solid #0A7A22;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.submit {
    background:  #0A7A22;;
}

.input {
    /* display: grid; */
}

.request > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.request.active-request > div {
    top: 0px;
    opacity: 1;
}
/* 
.request.active-request .request-title {
    transition: all 300ms ease-in-out 250ms;
}
.request.active-request .input {
    transition: all 300ms ease-in-out 250ms;
}
.request.active-request .button {
    transition: all 300ms ease-in-out 250ms;
} */



@media screen and (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
}


@media screen and (max-width: 980px) {
    .sidebar-container {
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        width: 90px;
        height: 100vh;
        color: #08611B;
        padding: 15px;
        transition: .5s;
        z-index: 100;
    }

    .sidebar-container a {
        border: none;
    }


    

    .nav {
        overflow: hidden;
    }

   
    .nav--toggle {
        display: block;
        font-size:30px;
        cursor: pointer;
        color: #08611B;
    }

    #logo {
        border: none;
        margin-top: 5px;
        padding: 0;  
    }

    
    .nav-link {
        font-size: 8px;
        transition: .3s;
        overflow: hidden;
    }
    

    #logout {
        margin-top: 80px;
    }

    .rectangle {
        width: 250px;
        height: 150px;
        margin-top: 70px;
    }


    .upload,
    .capture {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

    .upload {
        width: 200px;
    }
    
    .request,
    .success {
        height: 300px;
        width: 385px;
        background: #FFFFFF;
        padding-top: 0;
        box-shadow: 0px 1px 8px rgba(10, 122, 34, 0.16);
    }

    /* .success {
        height: 300px;
        width: 385px;
    } */


    
    .request.active-request {
        transform: translate(5%, -90%) scale(1);
    }
    .success.active-success {
        transform: translate(5%, -190%) scale(1);
    }

    .request h4, 
    .request-details p,
    .request-details input{
        margin-bottom:8px;
    }

    
        
    }
    .nav-name {
        font-size: 20px;
        margin-left: 25px;
    }
    
    .expander {
        right: 0;
        width: 200px;
    }
    
    .active {
        background: rgba(28, 126, 24, 0.47);
    }

    
}




